<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link th:href="@{/style.css}" rel="stylesheet" type="text/css">
<title>Echo Application</title>
</head>
<body>
 <h1>計算結果</h1>
<p th:text="|${val1} × ${val2} ＝ ${rslt}|"></p>
<p><a th:href="@{/multiplication}">計算bot TOP</a></p>
</body>
</html>

