<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link th:href="@{/style.css}" rel="stylesheet" type="text/css">
<title>Echo Application</title>
</head>
<body>
<p th:text="|Hello ${name}|"></p>
<p><a th:href="@{/}">お返事bot TOP</a></p>
</body>
</html>