<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link th:href="@{/style.css}" rel="stylesheet" type="text/css">
<title>error</title>
</head>
<body>
<h1>
    エラーが発生しました!!
</h1>
<p><a th:href="@{/division}">計算bot TOP</a></p>
</body>
</html>
