<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link th:href="@{/style.css}" rel="stylesheet" type="text/css">
<title>Echo Application</title>
</head>
<body>
<h1>お返事bot TOP</h1>
<form th:object="${echoForm}" th:action="@{/echo}" method="post">
<label for="name">名前を入れてください:</label>
<input th:field="*{name}">
<input type="submit">
</form>
</body>
</html>