<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link th:href="@{/style.css}" rel="stylesheet" type="text/css">
<title>Echo Application</title>
</head>
<body>
 <h1>お題２　引き算(subtraction)</h1>
 <form th:object="${echoForm}" th:action="@{/echo_sub}" method="post">
        <label for="val1">値１:</label>
        <input th:field="*{val1}">
        <label for="val2">　－　値２:</label>
        <input th:field="*{val2}">
        <input type="submit" value="計算">
</form>
</body>
</html>
